---
import Layout from "@/layouts/Layout.astro";
import WelcomeModal from "../components/WelcomeModal.astro";
---

<Layout title="Nice Nails">
  <div class="absolute top-0 -z-10 bg-spa lg:h-screen bg-cover bg-no-repeat bg-center">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 h-full z-30 bg-white bg-opacity-30"
    >
      <div class="mt-[150px] text-white text-8xl text-center md:text-right items-center flex flex-col p-2">
        <picture>
          <img src="/logo.svg" alt="logo" />
        </picture>
        <h1 >
          Tu Spa en Casa
        </h1>
      </div>

      <img src="/avatar.png" alt="avatar" class="mt-auto mx-auto" />
      <img src="/moto.png" alt="moto" class="mb-20 mt-auto mx-auto" />
    </div>
  </div>
  <WelcomeModal />
</Layout>
<style>
  h1 {
    color: #ffffff;
    text-shadow:
      -2px -2px 2px #000,
      2px -2px 2px #000,
      -2px 2px 2px #000,
      4px 4px 4px #000;
  }
</style>
