---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Nuestros Servicios">
  <h1 class="mt-32 text-4xl font-bold text-center text-green-500">
    Servicios de Manicura
  </h1>

  <section
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-4xl mx-auto mt-8"
  >
    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-green-500 text-xl font-semibold mb-4">
        Manicure Semipermanente
      </h2>
      <p class="text-gray-700 leading-relaxed">
        El manicure semipermanente es una opción duradera y resistente a los
        chip. Utilizando esmalte en gel que se cura bajo luz LED, este servicio
        proporciona un acabado brillante y de larga duración.
      </p>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-green-500 text-xl font-semibold mb-4">Acrílico</h2>
      <p class="text-gray-700 leading-relaxed">
        Las uñas acrílicas son ideales para quienes desean uñas más largas y con
        mayor resistencia. Se utilizan polvos acrílicos y líquidos especiales
        para crear una capa fuerte y duradera sobre las uñas naturales.
      </p>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-green-500 text-xl font-semibold mb-4">
        Manicure Tradicional
      </h2>
      <p class="text-gray-700 leading-relaxed">
        El manicure tradicional es un servicio clásico que incluye la limpieza y
        cuidado de las uñas, la cutícula y un esmaltado regular. Perfecto para
        quienes prefieren un estilo sencillo y elegante.
      </p>
    </div>
  </section>
</Layout>
