<header class="top-0 flex justify-between h-max md:h-[100px] w-full z-50 bg-black bg-opacity-70 px-4 md:px-20">
  <a href="/" class="flex items-center h-full w-max">
    <picture class="flex h-full text-white items-center justify-center">
      <img src="/logo.png" alt="logo" class="h-20 " />
    </picture>
  </a>
  <nav class="flex flex-col md:flex-row items-end justify-center md:items-stretch md:justify-end w-max p-4 font-sans">
    <button id="menu-toggle" class="block md:hidden text-pink-500 focus:outline-none">
      <!-- Ícono del menú para pantallas pequeñas -->
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
    <ul id="menu-items" class="hidden md:flex gap-8 h-full list-none">
      <li class="flex items-center">
        <a href="/" class="text-pink-500 no-underline text-lg font-bold">INICIO</a>
      </li>
      <!-- <li class="flex items-center">
        <a href="/reserva" class="text-pink-500 no-underline text-lg font-bold">RESERVA</a>
      </li> -->
      <li class="flex items-center">
        <a href="/servicios" class="text-pink-500 no-underline text-lg font-bold">SERVICIOS</a>
      </li>
      <li class="flex items-center">
        <a href="/tienda" class="text-pink-500 no-underline text-lg font-bold">TIENDA</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const menuItems = document.getElementById('menu-items');

  menuToggle.addEventListener('click', () => {
    menuItems.classList.toggle('hidden');
  });
</script>