<a
  class="flex flex-col justify-center items-center bg-white rounded-lg p-5 min-w-max"
>
  <img src="tienda/producto.png" alt="Producto 1" class="h-40" />
  <h2 class="hover-title w-full text-left">Loción Facial</h2>
  <h3 class="text-4xl w-full text-left">$ 39.900</h3>
</a>

<style>
    a:hover .hover-title {
      color: blue;
    }
  </style>