---
let showModal = true;
export const load = async () => {
  // Devolverá true después de 5 segundos
  return new Promise((resolve) => {
    setTimeout(() => {
      resolve({ showModal: true });
    }, 5000);
  });
};
---

<div>
  <div class="modal-overlay" style=`${showModal ? '' : 'display: none;'}`>
    <div class="bg-white rounded-lg text-center">
        <h2 class="text-2xl text-white bg-primary mb-4 rounded-t-lg py-3">
          Bienvenido a Nice Nails
        </h2>
        <a href="/tienda">
          <img src="mk.jpg" alt="mk" class="w-80 md:w-96" />
        </a>
        <button id="cerrar" class="my-2">Cerrar</button> 
    </div>
  </div>
</div>

<script is:inline>
  const modalOverlay = document.querySelector(".modal-overlay");

  function closeModal() {
    modalOverlay.style.display = "none";
  }

  const button = document.querySelector("#cerrar");

  button.addEventListener("click", () => {
    closeModal();
  });
</script>

<style>
  /* Estilos para la superposición del modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
