---
import Layout from "@/layouts/Layout.astro";
import ProductCard from "@/components/ProductCard.astro";

import { products } from "@/consts/products";
---

<Layout title="Tienda">
  <header class="w-full bg-pink-500 text-white p-4 text-center">
    <h1>Nice Store</h1>
  </header>

  <main class="h-full w-full">
    <div class="flex flex-wrap justify-center gap-8 cursor-pointer transition-colors w-4/5 mx-auto mt-9">
      {
        products.map((product, index) => (
          <ProductCard
            key={index}
            id={product.id}
            name={product.name}
            price={product.price}
          />
        ))
      }
    </div>
  </main>
</Layout>
