---
import Layout from "@/layouts/Layout.astro";
import ProductCard from "@/components/ProductCard.astro";
import WhatsappButton from "@/components/WhatsappButton.astro";
import { db, products } from "astro:db";
import Footer from "@/components/Footer.astro";

const $products = await db.select().from(products);
---

<Layout title="Tienda Mary Kay" className="pt-[64px]">
  <header class="w-full text-primary font-semibold text-3xl p-4 text-center">
    <h2><a href="/tienda">Nice Store</a></h2>
  </header>

  <main class="h-full w-full">
    <div
      class="flex flex-wrap justify-center gap-8 cursor-pointer transition-colors w-4/5 mx-auto mt-9"
    >
      {
        $products.map((product, index) => (
          <ProductCard
            key={index}
            id={product.id}
            name={product.name}
            price={product.price}
          />
        ))
      }
    </div>
    <WhatsappButton />
    <Footer />
  </main>
</Layout>
